%section.bom.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %h3= @bom.name
      =form_tag(@bom) do
        %article.form-group
          %table.table-striped.table-bordered#bom
            %thead
              %tr
                %th(width="5%") Line
                %th(width="10%") Category
                %th(width="5%") Quantity
                %th(width="15%") Reference
                %th(width="20%") Mfr Part Number
                %th(width="10%") Manufacturer
                %th(width="10%") Distributor
                %th(width="10%") Price
                %th(width="10%") Total
                %th(width="5%") Remove
            %tbody
              -@bom_items.each_with_index do |item, index|
                %tr
                  %td= index + 1
                  %td= link_to item.category_name, item.category
                  %td= text_field_tag "bom_items[][quantity]", item.quantity, class: "form-control"
                  %td= text_field_tag "bom_items[][reference]", item.reference, class: "form-control"
                  %td= link_to item.component_name, item.component
                  =hidden_field_tag "bom_items[][component_id]", item.component.id
                  %td= item.manufacturer
                  %td= item.current_distributor
                  %td= number_to_currency(item.current_price, unit: '', precision: 3)
                  %td= number_to_currency(item.total, unit: '', precision: 2)
                  %td= link_to "", item, method: :delete, class: "glyphicon glyphicon-remove"
        %article.form-group
          =submit_tag "Update BOM", class: "btn btn-default"
